{% extends "base.html" %}
{% load static %} 

 {% block content %}

 УСЛОВИЯ АРЕНДЫ ПЛАТЬЯ В VELVET DRESSES 
___________________________________
✔️Записаться на примерку по телефону +998 71-268-48-47

✔️Приехать в салон . Подобрать платье . ( Вы можете забронировать платье на желаемую дату или арендовать день в день ,если платье свободно на ваши даты )

✔️Оплатить стоимость аренды и оставить залог ( залог возвращается при сдаче Платья обратно в салон )

✔️Аренда осуществляется только при наличии ПАСПОРТА. 

✔️Вернуть платье в указанный срок 

Милые девушки , сообщаем ,что вы несёте юридическую ответственность за сохранность платья / аксессуаров VELVET DRESSES ❤️ 

ВАЖНО : если по какой-либо причине вы отказываетесь от Забронированного Платья ,то сумма задатка не возвращается 


 {% endblock content %}